body {
    font-family: 'Alata';
    margin: 0;
    padding: 0;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/static/imagens/estante02.jpeg');
    background-repeat: no-repeat;
    background-size: 100%; 
    filter: blur(2px);
    z-index: -1; 
}

header {
    background-color: #FB5A48;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LogoLogin{
    width: 50px;
    align-items: center;

}

.Logofront{
    width: 150px;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


.bem_vindo h1 {
    font-family: 'Alata';

    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: -1px 0 rgb(0, 0, 0);
}

.bem_vindo {
    font-family: 'Alata';
    background: url('background.jpg') no-repeat center center/cover;
    height: 400px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bem_vindo input {
    font-family: 'Alata';
    padding: 15px;
    width: 50%;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 1.2em;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;

}


.bem_vindo input {
    font-family: 'Alata';
    padding: 15px;
    width: 50%;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 1.2em;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.bem_vindo input:focus {
    font-family: 'Alata';
    border-color: #E43516;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 128, 0, 0.2);
}

.catalogo {
    padding: 50px;
    background-color: #FFE59A;
    text-align: center;
}

.catalogo h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.jogos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.jogo-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.jogo-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.jogo-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.jogo-card p {
    color: #666;
    font-size: 1em;
}

.jogo-card button {
    background-color: #E43516;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3%;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    transform-origin: center; 

}

.jogo-card button:hover {
    background-color: #7f2e1a;
    transform: scale(1.05);

}

.BotãoNotificar button{
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
