body {
    margin: 0;
    background-color: #FFE59A;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoLogin{     /* logo do login */
    width: 300px;
    height: auto;
}
