body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: center;
    justify-content: center; 
    align-items: inline;
    background-color: #FFE59A;
}



.BarraLoginTITULO, .BarraLoginEDITORA,.barraSTATUS, .BarraLoginVALOR, .BarraLoginIMAGEM{
    width: 100%;
    color: #7f2e1a;
    padding: 11px;
    border: 0px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    transition: transform 0.3s; 
    transform-origin: center; 
}

.barraSTATUS{
    font-family:'Alata';
    color: #7f2e1a;

}

.textTITULO,.textoEDITORA,.textoVALOR,.textoSTATUS, .textoSTATUS,.textoIMAGEM{
    font-family:'Alata';
    text-align: center; 
    background-color:  #FB5A48;
    text-align: center; 
    color:#ffffff;
    border: 5px solid #FB5A48;
    border-radius: 5px;
}

.texto{
    font-family:'Alata';
}

.textTITULO{
    width: 25%;
}

.textoEDITORA, .textoIMAGEM{
    width: 28%;

}

.textoSTATUS{
    width: 27%;

}.textoVALOR{
    width: 24%;
}


.CadastrarJogo{
    font-family: 'Alata';
    position: fixed;
    top: 90%;
    left: 20%; 
    background-color: #FB5A48;
    color: #fff;
    border: none;
    border-radius: 3%;
    padding: 10px 18px;
    font-size: 100%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.AtuaizarJogo{
    font-family: 'Alata';
    position: fixed;
    top: 90%;
    left: 44%; 
    background-color: #FB5A48;
    color: #fff;
    border: none;
    border-radius: 3%;
    padding: 10px 18px;
    font-size: 100%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.CadastrarJogo:hover {
    background-color: #7f2e1a;
    transform: scale(1.05);
}

.telacadastro{
    position: center;
    width: 100%;
    text-align: center;
    height: 100%; 
    transform: scale(0.87); 
    transform-origin: center; 
    margin-top: -40px;
}