
body {
    margin: 0;
    background-color: #FFE59A;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.LogoLogin{
    width: 200px;
}

.botãoEntrar{
    font-family: 'Alata';
    position: absolute;
    top: 97%;
    left: 25%; 
    background-color: #FB5A48;
    color: #fff;
    border: none;
    border-radius: 3%;
    padding: 10px 18px;
    font-size: 100%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    transform-origin: center; 
}

.botãoEntrar:hover {
    background-color: #7f2e1a;
    transform: scale(1.05);
}


.BarraLoginUSER, .BarraLoginPASS{
    width: 100%;
    padding: 11px;
    margin-bottom: 1px; 
    border: 0px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    transition: transform 0.3s; 
    transform-origin: center; 
    }

.textoUSUARIO,.textoSENHA {
    width: 40%;
    text-align: center; 
    font-family:'Alata';
    background-color:  #FB5A48;
    color:#ffffff;
    border: 5px solid #FB5A48;
    border-radius: 5px;
}

.textoSENHA{
    width: 28%;
}


.RecuperarSenha{
    font-family: 'Alata';
    text-decoration: underline; 
    color:#7F2E1A;
    border-bottom: 40%;
    margin-left: 20%;
}

.Voltar{   
    font-family: 'Alata';
    text-decoration: underline; 
    color:#7F2E1A;
    margin-left: 40%;
}


.telalogin{
    position: center;
    width: 100%;
    margin: center;
    height: 70%;
    transform: scale(1);
    transform-origin: center; 
