<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/imagens/iconlogo.ico" type="image/x-icon"> 

    <title>Catálogo de Aluguel de Jogos</title>

    <link rel="stylesheet" href="/static/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/catalogo.css">
</head>
<body>
    
    <header>
        <div class="logo"> TabuLend  </div>
        <nav>
            <ul>
                <li><a href="#home">Início</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
    </header>

    <section class="bem_vindo">
        <h1>Bem-vindo ao TabuLend</h1>
        <p>Descubra seu próximo jogo de tabuleiro {{username}}</p>
        <form class="bem_vindo" method="GET" action="{{ url_for('pesquisarJogos') }}">
            <input type="text" name="query" placeholder="Pesquise por título">
            <p> </p>
            <button class="botao" type="submit">Pesquisar</button>
        </form>
    </section>

    <!-- Catálogo de Jogos -->
    <section id="catalogo" class="catalogo">
        <h2>Nosso Acervo de Jogos</h2>
        <div class="jogos-grid">
            {% for jogo in jogos %}
            <div class="jogo-card">
                <img src="{{ jogo.imagem }}" alt="{{ jogo.titulo }}" width="200px">
                <h3>{{ jogo.titulo }}</h3>
                <p>Editora: {{ jogo.editora }}</p>
                <p>Valor: {{ jogo.preco }}</p>
                <p>Status: {{jogo.status}} </p>
                {% if jogo.status == 'alugado' %}
                    <form action="/notificar/{{ jogo.titulo }}" method="POST">
                        <button type="submit" class="BotãoNotificar"> Notificar </button>
                    </form>
                {% else %}
                    <button>Alugar</button>
                {% endif %}
            </div>

            {% endfor %}
            
        </div>
    </section>

    <footer>
        
    </footer>
</body>
</html>
