<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Aluguel de Jogos</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <div class="logo">TabuLend</div>
        <nav>
            <ul>
                <li><a href="#home">Início</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="#login">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="bem_vindo">
        <h1>Bem-vindo ao TabuLend</h1>
        <p>Descubra seu próximo jogo de tabuleiro!</p>
        <input type="text" placeholder="Pesquise por título">
    </section>

    <!-- Catálogo de Jogos -->
    <section id="catalogo" class="catalogo">
        <h2>Nosso Acervo de Jogos</h2>
        <div class="jogos-grid">
            {% for jogo in jogos %}
            <div class="jogo-card">
                <img src="{{ jogo.imagem }}" alt="Capa do {{ jogo.nome }}">
                <h3>{{ jogo.nome }}</h3>
                <p>Editora: {{ jogo.editora }}</p>
                <p>Preço: {{ jogo.preco }}</p>
                <p>Dias de Aluguel: {{ jogo.dias_aluguel }}</p>
                <button>Alugar</button>
            </div>
            {% endfor %}
        </div>
    </section>

    <footer>
        <p>&copy; 2024 TabuLend. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
