<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TabuLend
    </title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <img src="fotos/LOGO.png" alt="Descrição da Imagem" Class="LogoLogin">
    <button type="button" onclick="alert('Botão clicado!')">Clique Aqui</button>
    <button type="button" onclick="alert('Botão clicado!')">Clique Aqui</button>

    <footer>
    
    </footer>
</body>
</html>