<a<!DOCTYPE html>
    <html lang="pt-br">
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TabuLend
        </title>
        <link rel="stylesheet" href="/static/css/telalogin.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/telainicial.css">
        
    
    </head>
    
    <body>
    
        <img src="/static/imagens/LOGO.png" alt="logo" Class="LogoLogin">

        <form action="/login" method="post"></form>
            <input class="BarraLoginTXT" type="text" name="username"  required>
            <input class="BarraLoginPASS" type="password" name="password" required>
            <button class="botãoEntrar" type="submit"> ENTRAR </button>
        </form>


    
        <footer>
    
        </footer>
    
    </body>
    </html>