<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/imagens/iconlogo.ico" type="image/x-icon"> 

    <title>TabuLend
    </title>
    <link rel="stylesheet" href="/static/css/telacadastrar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/telacadastrar.css">

</head>

<body>

<div class="telacadastro">

    <form action="/register" method="post">

        <img src="/static/imagens/LOGO.png" alt="logo" Class="LogoLogin">

        <p class="textNOME"> NOME </p>
        <input class="BarraLoginNOME" type="text"  name="name" required>

        <P class="textoEMAIL"> E-MAIL </P>
        <input class="BarraLoginEMAIL" type="email" name="email" required>
    
        <P class="textoUSUARIO"> USUÁRIO </P>
        <input class="BarraLoginUSER" type="text" name="username" required>

        <p class="textoPASS"> SENHA </p>
        <input class="BarraLoginPASS" type="password" name="password" required>
        
        <button class="BotãoCadastrar" type="submit"> CADASTRAR </button>

    </form>

</div>

    
    <footer>

    </footer>

</body>
</html>