<a<!DOCTYPE html>
    <html lang="pt-br">
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/imagens/iconlogo.ico" type="image/x-icon"> 

        <title>TabuLend</title>

        <link rel="stylesheet" href="/static/css/telalogin.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/telalogin.css">
        
    
    </head>
    
    <body>
    
    <div class ='telalogin'>

        <form class="form" action="/login" method="post">

            <img src="/static/imagens/LOGO.png" alt="logo" Class="LogoLogin">

            <p class="textoUSUARIO"> USUÁRIO </p>
            <input class="BarraLoginUSER" type="text" name="username"  required>

            <P class="textoSENHA"> SENHA </P>
            <input class="BarraLoginPASS" type="password" name="password" required>

            <button class="botãoEntrar" type="submit"> ENTRAR </button>
            
        </form>

    </div>

        <p> <br> </p>
        <a class="RecuperarSenha" href="recuperarsenha.html" type="button" > Recuperar Senha </a>
        <p>  </p>
        <p>  </p> 
        <a class="Voltar" href="telainicial.html" type="button" > Voltar </a>

        <footer>
    
        </footer>
    
    </body>
    </html>