<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TabuLend
    </title>
    <link rel="stylesheet" href="/static/css/telainicial.css">

</head>

<body>

    <img src="/static/imagens/LOGO.png" alt="logo" Class="LogoLogin">

    <a class="botãoEntrar" href="telalogin.html" type="button" > Entrar </a>

    <a class="botãoCadastrar" href="telacadastrar.html" type="button" > Cadastrar </a>


    <footer>

    </footer>

</body>
</html>