<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo Disponível</title>
    <link rel="stylesheet" href="static/css/templateEmail.css">
</head>
<body>
    <h2>Olá, {{nome}}!</h2>
    <p>O jogo <strong>{{titulo}}</strong> está disponível para aluguel!</p>
    <p>Não perca a chance de jogar</p>
    <p ><a href="{{link}}" style="color: #FB5A48; text-decoration: underline;">Acesse nosso site e alugue agora </a></p>
    <p>Obrigado por utilizar nossos serviços!</p>
    <p>Atenciosamente,</p>
    <p><strong>Equipe TabuLend &#x1F3B2; </strong></p>
</body>
</html>